# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
enelvenv/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT TRACK DATA FILES)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Logs
*.log

# Streamlit
.streamlit/

# OS junk
.DS_Store
Thumbs.db